.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #f2f2f2;
  width: 45px;
  height: 45px;
  color: #aaa;
  font-size: 20px;
  margin: 0 5px;
  position: relative;
  .count {
    position: absolute;
    top: -3px;
    right: -10px;
    border-radius: 50%;
    background: #f00;
    display: block;
    text-align: center;
    padding: 2px 8px;
    font-size: 1rem;
    color: #fff;
  }
  .no-img {
    padding: 15px;
  }

  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}