.common_followers{
    width: 100%;
    padding: 1.2rem;
    background-color:#ffff;
    border-radius: 0.15rem;
    cursor: pointer;
    p{
        font-size: 1rem;
    }
    img{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        object-fit:cover;
    }
}