.checked{

        
        color: #3e99ed;
        font-size: 1rem;
        margin: 0;
        padding: 0 5px;

        /*
        &.checked_blue_color{

                color: #3e99ed;
        }
        
        &.checked_orange_color{
        
                color: #f85a5b;
        }*/
    
}

