
.user_stats{
  display: flex;
  gap: 1rem;
  justify-content: space-evenly; 
  align-items: center;
  color: #677682;
  background-color: inherit;
  border-radius: 0.4rem;

  p{
    padding: .25rem;

    span{
        color: #000000;
        font-weight: 100;
        //padding: .25rem;
        padding: 0.25rem .25rem .25rem 0rem;

    }
  }


}

