:root{
    --baseMainColor: #f85a5b;
    --dark-orange: #d95c5c;
    --base-fontweight: bold; 


    //--radius;

    
    //Fonts

}

html {
   /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
    -webkit-box-sizing: border-box; 

    /* Firefox (desktop or Android) 28- */
    -moz-box-sizing: border-box;

    /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
    box-sizing: border-box;
    scroll-behavior: smooth;


}

*, *:before, *:after {
    font-family: Helvetica,arial ,sans-serif  !important;
    
    box-sizing: inherit;
}

body {
    margin:0;
    padding:0;
    background-color: #f0f2f5 !important;
    
    p, span{
        font-size: 20px;
    }
}






