.post {
  //padding: 15px;
  background: #fff;
  border-radius: 0.8rem;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  height: fit-content;
  
  *{
    //outline: 1px solid red;
  }
  .content{
    p{
      padding: 0 1.2rem 1.2rem 1.2rem;
    }
  }
}

.post h1 {
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}

.post textarea {
  border: none;
  width: 100%;
  color: #2d3436;
}
.post textarea:focus-visible {
  outline: none;
}

.post .image {
  color: #4bbc66;
}
.post .emoji {
  color: #f6b83c;
}
.post .poll {
  color: #f87e3a;
}
.post .earth {
  color: #35bba7;
}
.post .triangle {
  color: #8c75c9;
}
.post .calendar {
  color: red;
}
.post .clock {
  color: #ee2c4d;
}
.post .t {
  color: #227bef;
}

.post .btn-group {
  background: rgb(241, 241, 241);
  color: rgb(163, 163, 163);
  padding: 6px 4px;
  margin-right: -15px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  height: 50px;
}

.post .photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.post .photo {
  width: 100%;
}

.post .repost {
  padding: 0 15px 5px;
  margin: 0 -15px 15px;
  border-bottom: 1px solid #ececec;
}
.post .repost svg {
  padding-right: 8px;
}
